{% from 'form_help.html' import displayField %}
{% extends "layout_first.html" %}

{% block title %}
    Login
{% endblock %}

{% block content %}
    <h2>Login now and start chatting!</h2>
    <p>Enter your username and password to start TalkHere</p>

    <form action="{{ url_for('login') }}" method="POST">
         
        {{ displayField(form.username, 'Username', autofocus=true) }}
        {{ displayField(form.password, 'Password') }}
       
        <div class="form-group">
            <input type="submit" value="Login" class="btn btn-warning">
        </div>

        {{ form.csrf_token }}    
    </form>

    <hr>

    <p>Have not yet registered? <a href={{ url_for('index') }}>Register here</a>.</p>
{% endblock %}


